@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["About"];
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-7">
        @Html.Raw(ViewData["Content"])
        @Html.Raw(ViewData["business philosophy"])
        @Html.Raw(ViewData["leading products"])
    </div>
    <div class="col-md-3">
        <img width="400" height="226" src="~/images/simate_mall.jpg" />        
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/images/cert/yyzz.jpg" />
    </div>
    <div class="col-md-4">
        <img src="~/images/cert/zzjgdmz.jpg" />
    </div>
    <div class="col-md-4">
        <img src="~/images/cert/sb.jpg" />
    </div>
    <div class="col-md-4">
        <img src="~/images/cert/khxkz.jpg" />
    </div>
    <div class="col-md-4">
        <img src="~/images/cert/swdjz.jpg" />
    </div>
    <div class="col-md-4">
        <img src="~/images/cert/swdjz2.jpg" />
    </div>
</div>
@*<table class="table-condensed">
    <tbody>
        <tr>
            <td>
                <img src="~/images/cert/yyzz.jpg" />
            </td>
            <td>
                <img src="~/images/cert/zzjgdmz.jpg" />
            </td>
            <td>
                <img src="~/images/cert/sb.jpg" />
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/images/cert/khxkz.jpg" />
            </td>
            <td>
                <img src="~/images/cert/swdjz.jpg" />
            </td>
            <td>
                <img src="~/images/cert/swdjz2.jpg" />
            </td>
        </tr>
    </tbody>
</table>*@


